{% extends 'base for recommend.html' %}
{% block title %}推荐初始页{% endblock %}
{% load staticfiles %}

{% block custom_css %}{% endblock %}

{% block content %}
    <div class="rec-main">
        <div class="rec-main-1200">
            <div class="rec-row">
                <div class="rec-card-border1">
                    <div class="rec-card rec-card-size1 bg-gradient1">
                        <div class="rec-card-content">
                            <img src="{% static 'images/circle.svg' %}" class="card-img-absolute">
                            <h1 class="rec-h1-1">你好{{ user.username }}!</h1>
                                <div class="rec-row2">
                                    <h1 class="rec-h1-2">现在的时间是</h1>
                                    <input class="rec-h1-3" type="text" id="time" value=""/>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="rec-card-border1">
                    <div class="rec-card rec-card-size1 bg-gradient2">
                        <div class="rec-card-content">
                            <img src="{% static 'images/circle.svg' %}" class="card-img-absolute">
                            <h1 class="rec-h1-1">当前情境</h1>
                                <div class="rec-row2">
                                    <h1 class="rec-h1-2">{{ string_type }}</h1>
                                    <h1 class="rec-h1-4" >{{ string_tag }}</h1>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="rec-card-border1">
                    <div class="rec-card rec-card-size1 bg-gradient1">
                        <div class="rec-card-content">
                            <img src="{% static 'images/circle.svg' %}" class="card-img-absolute">
                            <h1 class="rec-h1-1">最喜欢的学习情境</h1>
                                <div class="rec-row2">
                                    <h1 class="rec-h1-2">{{ string_max_type }} </h1>
                                    <h1 class="rec-h1-4" >{{ string_max_tag }}</h1>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chart-1">
                <div class="rec-card">
                    <div id="main" style="width:400px;height:400px;padding:20px;display: inline-block">
                    </div>
                    <div id="main2" style="width:400px;height:400px;padding: 20px 0;display: inline-block">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_js %}
    <script type="text/javascript">
    function gettime(){
        $.ajax({
            cache: false,
            type: "POST",
            url:"{% url 'recommend:get_time' %}",
            data:{},
            async: true,
            beforeSend:function(xhr, settings){
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success: function(result) {
                if(result.status == 'fail'){
                    console.log('失败');
                }else if(result){
                    console.log(result);
                    document.getElementById('time').value = result.string_now;
                }
            },
        });
    }
    gettime();
    setInterval(function(){ gettime(); }, 1000)
    </script>

    <script src="{% static 'echarts/echarts.js' %}"></script>
    <script src="{% static 'echarts/mytheme.js' %}"></script>
{#    <script src="{% static 'echarts/echarts.min.js' %}"></script>#}

    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'),'mytheme');

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: 'ECharts 入门示例'
            },
            tooltip: {},
            legend: {
                data:['销量']
            },
            xAxis: {
                data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                data: [20, 20, 36, 10, 10, 20]
            }]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>

    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main2'),'mytheme');

        // 指定图表的配置项和数据
        var option = {
            series: {
                type: 'pie',
                data: [
                    {name: 'A', value: 1212},
                    {name: 'B', value: 2323},
                    {name: 'C', value: 1919}
                ]
            }
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>

{% endblock %}